
<div class="SU-LI">
  <hr>
  <h2>Login</h2>

<form action="login" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control input-width shadow" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control input-width shadow" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary shadow button-width">Submit</button>
</form>